<!DOCTYPE html>
<html>

<head>
	<title>discordとのチャット同期</title>
	<script type="module" src="./js/main.js"></script>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link rel="stylesheet" href="css/style.css">
</head>

<body id="bodyContainer">

	<h1>チャットの一覧</h1>
	<form>
		名前：<input type="text" id="name"><br>
		<textarea id="message"></textarea><br>
		引用元：<input type="button" id="referencedMessageId"><br>
		ファイル：<input type="file" id="multipartFile"><br>
		<input type="button" id="button" value="送信"><br>
	</form>
	<hr>
	<div id="chatMessageContainer">
	</div>
	<div id="loading-indicator"></div>
	</div>

</body>

</html>