<!DOCTYPE html>
<html lang="ja">

<head>
	<title>ほっこり茶屋</title>
	<script type="module" src="./js/main.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script type="module" src="./js/top.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>

<body id="bodyContainer">
	<nav id="mainnav">
		<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
		<div class="panel">
			<ul>
				<li><a href="#header">TOP</a></li>
				<li><a href="#sec01">同盟紹介</a></li>
				<li><a href="#sec02">情報</a></li>
				<li><a href="#sec04">メンバー専用</a></li>
			</ul>
		</div>
	</nav>

	<header id="header">
		<img src="img/main.png" alt="">
		<div id="slogan">
			<h2>50位以内を目指しつつ、楽しくプレイ！</h2>
		</div>
	</header>

	<section id="sec01">
		<header>
			<h2>同盟紹介</h2>
		</header>
		<div class="vision">
			<br>
			50位以内を目指しつつ、楽しくプレイ！<br>
			ガチ勢も、マイペース勢もどちらも楽しめるよう作戦を立てて戦います。<br>
			ガチ勢は同盟「ほっこり茶屋」マイペース勢は同盟「本当にほっこりしてる茶屋」で活動しています。<br>
			Discordやこのホームページ、Googleスプレッドシートを用いて快適にあやらぶをプレイしています！<br>
			<h2>ほっこり茶屋</h2>
			ID：972700<br>
			【方針】<br>
			50位以内を目指しつつ、楽しくプレイ！<br>
			ガチ勢も、マイペース勢もどちらも楽しめるよう作戦を立てて戦います。<br>
			<br>
			【同盟戦について】<br>
			<ul>
				<li>チーム制を採用→
					早期アタック型・中期アタック型・最終日特化型の3チームに分かれ、
					各スタイルに合わせた作戦を行います。<br>
					→ 作戦は同盟主が指示するので、難しく考えなくても大丈夫です！</li>
				<li>リアル優先OK→ 各日のポイント消費の目安はありますが、忙しい時は無理せず調整可能です！ </li>
			</ul>
			【募集要項】<br>
			・コミュニケーションが取れる方（戦力を教えて頂き作戦を立てるため）<br>
			・傭兵歓迎！ 雰囲気を見てから決めたい方もOK！ <br>
			・申請時のお願い<br>
			　→ プロフィールに火力を記入の上、申請をお願いします！<br>
			（例：対闇 lv250 1p / lv300 4p） <br>
			【一言】<br>
			週末にしっかりプレイしたい方や、深夜に活発に動きたい方にもおすすめです！<br>
			楽しくワイワイしつつ、しっかり戦う！ 和やかな雰囲気の中で、一緒に楽しく戦いませんか？ <br>

			<h2>本当にほっこりしてる茶屋</h2>
			ID：076347<br>
			初心者の方や真にほっこりプレイをしていく方向けの同盟です。<br>
			ログイン7日と同盟戦時ポイント使い切りのみが条件です。<br>
			新しい人材を育てて50位圏内の同盟を盛り上げていきたくて作りました。<br>
			<br>
		</div>
	</section>

	<section id="sec02">
		<div class="wrap">
			<p class="bg"><img src="img/disco.png" alt=""></p>
			<div class="txt">
				<div class="vMid">
					<h2>Discord</h2>
					<p>Discordでは初心者からの質問から雑談。各イベントの攻略情報まで幅広く情報が載っています。</p>
				</div>
			</div>
		</div>
		<div id="sec02_02" class="wrap">
			<p class="bg"><img src="img/chat.png" alt=""></p>
			<div class="txt">
				<div class="vMid">
					<h2>メンバー専用ホームページ</h2>
					<p>メンバー専用のホームページでは「Discordに参加するのはちょっと・・・」って方のために、
						Discordでやり取りしているチャットをホームページで見れるようにしてます。
					</p>
				</div>
			</div>
		</div>
		<div class="wrap">
			<p class="bg"><img src="img/sheet.png" alt=""></p>
			<div class="txt">
				<div class="vMid">
					<h2>戦力表</h2>
					<p>メンバーみんなの戦力を記録。同盟戦への戦略方針に役立てています。</p>
				</div>
			</div>
		</div>
	</section>


	<section id="sec04">
		<div class="inner">
			<ul class="col2">
				<li>
					<h2>メンバー専用 雑談チャット</h2>
					<p><a href="chatHtml/1386571666116710435">雑談用のチャットです。</a></p>
				</li>
				<li>
					<h2>メンバー専用 同盟戦会議用チャット</h2>
					<p><a href="chatHtml/1392405356076073004">同盟戦会議用のチャットです。</a></p>
				</li>
				<li>
					<h2>管理者専用</h2>
					<p><a href="memberHtml">管理者専用のページです。</a></p>
				</li>
			</ul>
		</div>
	</section>
	<footer id="footer">
		<br>
		<br>
		<br>
		<br>
		著作権法第32条に基づき画像を引用しております。<br>
		著作権は権利者様側へ帰属しておりますので、<br>
		画像の転載・流用はご遠慮下さい。<br>
		また、権利者様側からの画像等の削除の依頼や警告は速やかに対処いたします。<br>
		販売元:DMM<br>
	</footer>
	<br>
	<br>
	<br>
	<br>
</body>
</html>